* {
    box-sizing: border-box;
    transition: 0.1s;
    outline: none;
}

body {
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
}

button {
    background: none;
    border: none;
    color: inherit;
}

/* ========== UI Components ========== */
/* ----- Buttons ----- */
.button--primary {
    display: inline;
    padding: 10px 30px;
    font-size: 1.6em;
    font-family: Orbitron;
    letter-spacing: 1.2px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 7px;
    text-shadow: 2px 3px 9px #1c1c1c;
    cursor: pointer;
}

.button--primary:hover {
    padding: 10px 15px;
    border-radius: 21px;
}

.button--primary:active {
    transform: scale(0.965);
}

/* ========== Start Screen Section ========== */
.start-screen {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: linear-gradient(45deg, #2b5876, #4e4376);
    color: #fafafa;
    text-align: center;
}

.is-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.start-screen__content {
    display: inline-block;
    margin: auto;
}

.content__header {
    margin-bottom: 55px;
    font-family: "Montserrat Subrayada";
    font-size: 4em;
}

/* ========== Main container ========== */

.container {
    max-width: 43em;
    margin: auto;
}

/* ========== Info Section ========== */

.info-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    width: 100%;
    margin: 2em auto 1em;
}

.stars {
    text-align: left;
}

.moves-counter,
.timer {
    font-size: 1.3em;
}

.restart {
    text-align: right;
    cursor: pointer;
}

/* ========== Deck ========== */

.deck {
    display: grid;
    grid-gap: 2%;
    width: 100%;
    height: 80vh;
    margin: auto;
    padding: 1em;
    border: thin solid black;
}

.deck--4x4 {
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

/* ========== Cards ========== */

.card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    perspective: 850px;
    cursor: pointer;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: all 0.5s;
}

.card__front {
    display: flex;
    justify-content: center;
    background-color: deepskyblue;
    transform: rotateX(180deg);
}

.card__front i {
    align-self: center;
    font-size: 5em;
    color: white;
    pointer-events: none;
}

.open .card__front,
.match .card__front {
    transform: rotateX(360deg);
}

.card__back {
    background-color: cadetblue;
}

.open .card__back,
.match .card__back {
    transform: rotateX(180deg); 
}

.match .card__front {
    background-color: green;
}

.wrong .card__front {
    background-color: firebrick;
}

/* ========== Complete Screen ========== */

.screen-complete {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: darkseagreen;
    color: darkslategray;
}

.screen-complete.is-open {
    display: block;
}